.App {
  > .body {
    display: flex;

    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  > .body > .sidebar {
    --size-default: 70px;

    border-right: var(--border-divider);
    background: var(--color-primary);

    width: var(--size-default);

    box-sizing: border-box;
  }
}

