.ElementItem {
  width: 175px;
  border-radius: 5px;
  overflow: hidden;

  margin: 10px;

  border: var(--border-divider);

  > .thumbnail {
    background: grey;

    padding-top: 100%;
    width: 100%;
    position: relative;
  }

  > .thumbnail > .background {
    position: absolute;

    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    background-image: url('../assets/images/checkers.png');
    background-size: 600px 600px;
  }

  > .thumbnail > .image {
    position: absolute;
    padding: 10px;

    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    display: flex;

    justify-content: center;
    align-items: center;
  }

  > .thumbnail > .image > .canvas {
    width: 100%;
  }

  > .footer {
    padding: 10px;
    background-color: var(--color-primary);
  }
}
